/* CSS cho dạng laptop */
@media only screen and (min-width: 1024px) {
	.list-item:hover {
		color: rgb(197, 255, 197);
		transform: translateY(-6px);
	}
	.list-item {
		color: white;
	}
	body{
		background-image: url("image/bg.png");
		background-size: cover;
	}
    .card {
        width: 50%;
		margin:auto;
		margin-top: 2rem;
		box-shadow:  0 0 5px 5px rgba(4, 86, 35, 0.142);
    }
	.list-item:hover .list-item-name {
		transform: translateY(20px);
		opacity: 1;
	}
}

/* CSS cho điện thoại */
@media only screen and (max-width: 600px) {
	.list-item:hover {
		color: darkgreen;
		transform: translateY(-6px);
	}
	.list-item {
		color: #3b3b3b;
	}
    .card {
        width: 100%;
		margin:auto;
		box-shadow: none;
		margin-top: 0;
    }
	.list-item:hover .list-item-name {
		transform: translateY(20px);
		opacity: 1;
	}
}

*{
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	/* line-height: 1.5; */
	/* background-image: linear-gradient(to bottom,#F78301,#ecbe5e); */
	/* background-image: url("image/bg.png"); */
    width: 100%;
	padding: 0 2;
	margin: 0;
	position: absolute;
	justify-content: center;
	align-items: center;
}

label {
	margin-right: 10px;
}

select {
	padding: 5px;
}

img {
	width: fit-content;
	display: block;
}

input {
	appearance: none;
	border-radius: 0;
	line-height: auto;
}

.card {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	/* width: 60%; */
	background-color: #FFF;
	padding: 0.9rem;
	top: 50%;
    left: 50%;
	justify-content: center;
	
}

.card-image {
	border-radius: 10px;
	padding-bottom: 7rem;
	background-image: url('image/LogoJS.png');
	height:fit-content;
	background-repeat: no-repeat;
	background-size:contain;
	position: relative;
	background-position: center;
}

.card-form {
	padding: 1rem;
}

.input {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 1.25rem;
}

textarea {
	resize: none;
	min-height: 25px;
	max-height: 500px;
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .5s ease;
}

.input-field {
	border: 0;
    z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1rem;
	padding: .25rem 0;
	
	&:focus, &:valid { 
        /* dùng cho input, khi đang đc điền/có giá trị hợp lệ */
		outline: 0;
		
		border-bottom-color: #ecbe5e;
		&+.input-label {
			color: darkgreen;
			transform: translateY(-1.5rem);
            /* đưa text label lên trên */
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
	display: block;
	margin: auto;
	font-size: 0.9rem;
	padding: 1em;
	width: 10rem;
	/* font-weight: 500; */
	background-color: #004f36;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
        /* bỏ đường viền */
	}
}
.action-button:hover {
	background-color: #00845a;
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	display: block;
}

.navbar {
    background-color: transparent;
    display: flex;
    width: 100%;
    max-width: 100%;
	height: 2.5rem;
	margin: 0;
	justify-content: center;
}

.list-item {
	margin: 0 2rem;
    list-style-type: none;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.2s ease;
    cursor: pointer;
}

.list-item-name {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
}


