* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;

}

.clear {
    clear: both;
}
.registerBackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Điều chỉnh màu và độ trong suốt theo nhu cầu */
    filter: brightness(70%) blur(5px);
    z-index: -1;
}

.registerBackground {
    position: relative;
    background-image: url(../img/Profilebackground.png);
    background-size: cover;
    backdrop-filter: brightness(0.5) blur(5px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    align-items: center;
}
.registerRow{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 40vw;
    background-color: rgb(234, 232, 206);
    box-shadow: 0px 0px 30px rgba(102, 60, 11, 0.6);
    animation: signin-container ease 1.5s;
}

.row {
    width: 70vw;
    
    height: auto;
    height: 80vh;
    box-shadow: 0px 0px 30px rgba(102, 60, 11, 0.6);
    animation: signin-container ease 1.5s;
}

.container {
    background-color: rgb(234, 232, 206);
}
.registerForm{
    width: 65%;
    display: block;
    /* Đặt hình ảnh làm phần tử block để có thể sử dụng margin */
    margin: 50px auto 17px auto;
    font-size: 13px;
}
.signInForm {
    width: 60%;
    display: block;
    /* Đặt hình ảnh làm phần tử block để có thể sử dụng margin */
    margin: 50px auto 0 auto;
    font-size: 13px;
}

.logojs {
    width: 50px;
    /* Độ rộng của hình ảnh */
    height: auto;
    display: block;
    /* Đặt hình ảnh làm phần tử block để có thể sử dụng margin */
    margin: 0 auto;
}

.headform {
    text-align: center;
}

.wlcomeback {
    font-size: 20px;

}

.form-control {
    padding: 5px;
    border-radius: 0;
    font-size: 12px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.25);
}

.submitBtn {
    background-color: orange;
    border-radius: 0;
    font-size: 14px;
    padding: 0;
    width: 100%;
    height: 30px;
    border: #ff8000;
    --bs-btn-border-color: #ffaa00;
}
.submitBtn:hover {
    background-color: #ff6a00;
    --bs-btn-active-bg: #ff5500;
    --bs-btn-active-border-color: #ff5500;
}

.requestRegister {
    display: block;
    margin: auto;
    font-size: 12px;
    padding-top: 10px;
}

.FPTpicture {
    background: url(../img/HOME.png) right 8% center / cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #97adce;
}

.registerBtn {
    font-weight: 700;
    color: black;
}

.footer {
    position: fixed;
    /* hoặc position: absolute; */
    bottom: 0;
    margin-top: 20px;
    font-size: 12px;
}
.text-regis{
    color: aliceblue;
}
@keyframes signin-container {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 100;
        transform: translateY(0px);
    }
    
}
/*mobile width <740px */
@media only screen and (max-width: 739px){
    .FPTpicture{
        display: none;
    }
    .row{
        width: 90vw;
    }
    .container{
        width: 100%;
    }
    .form-control {
        padding: 10px;
        border-radius: 0;
        font-size: 15px;
    }
    .signInForm {
        width: 80%;
        font-size: 15px;
    }
    .wlcomeback {
        font-size: 20px;
    }
    .text-center{
        display: none;
    }
    .text-regis{
        display: none;
    }
    .requestRegister{
        font-size: 15px;
    }
    .submitBtn {
        background-color: orange;
        border-radius: 0;
        font-size: larger;
        height: 50px;
        margin-top: 20px;
    }
    .registerRow {
        width: 45vh;
    }
    .registerForm {
        width: 85%;
        font-size: 20px;
        min-height: 80vh;
    }
}
/*ipad width >=740px and <= 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .wlcomeback {
        font-size: 35px;
    }
    .FPTpicture{
        display: none;
    }
    .container{
        width: 100%;
    }
    .row{
        
    }
    .signInForm {
        width: 80%;
        font-size: 27px;
    }
    .requestRegister{
        font-size: 23px;
    }
    .submitBtn {
        background-color: orange;
        border-radius: 0;
        font-size: larger;
        height: 60px;
        margin-top: 20px;
    }
    .form-control {
        padding: 10px;
        border-radius: 0;
        font-size: 30px;
    }
    .text-center{
        display: none;
    }
    .registerRow {
        width: 100vh;
    }
    .registerForm {
        width: 80%;
        font-size: 30px;
        min-height: 80vh;
    }
    .text-regis{
        display: none;
    }
    .registerBackground {
        display: flex;
}
}