* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.main {
    position: relative;
    background-color: blanchedalmond;
    background: url(../img/Profilebackground.png);
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    backdrop-filter: brightness(0.5);
}

#content {
    display: flex;
    align-items: center;
}

.container {
    position: relative;

    display: contents;
}

.personalRow {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 77vw;
    box-shadow: 0px 0px 30px rgba(102, 60, 11, 0.6);
    animation: signin-container ease 1.5s;
}
.personalRowRegiter {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 50vw;
    box-shadow: 0px 0px 30px rgba(102, 60, 11, 0.6);
    animation: signin-container ease 1.5s;
}

.menubar {
    text-align: center;

}

.menubar a {
    margin: 0 10px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.menubar a:hover {
    background-color: orange;
}

.avtContainer {
    width: 100%;
    /* Chiều rộng tối đa */
    display: flex;
    /* Sử dụng flexbox */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
}

.avatar {
    width: 150px;
    /* Kích thước của hình tròn */
    height: 150px;
    /* Kích thước của hình tròn */
    border-radius: 50%;
    /* Đặt border-radius thành 50% để tạo thành hình tròn */
    overflow: hidden;
    /* Ẩn phần ngoài của hình */
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}

.avatar img {
    width: 100%;
    /* Đảm bảo ảnh đầy đủ chiều rộng */
    height: auto;
    /* Chiều cao tự động để không bị méo */
}

.profile {
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    /* Căn nội dung vào giữa */
    padding-top: 20px;
    /* Khoảng cách giữa avatar và nội dung khác */
}

.userName {
    margin-top: 33px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
}

.contact {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin: 0 15px;
}

.contact .phoneCt {
    display: ruby;
}

.contact i {
    margin-bottom: 20px;
    display: block;
}

.information a {
    text-decoration: none;
    font-family: inherit;
}

.information {
    display: grid;
}

.information .phoneCt {
    margin: 0 15px 20px;
    font-weight: 400;
}

.information i {
    line-height: 1.5;
    margin-right: 10px;
}
.editBtn {
    border: #9e9690;
    float: right;
}
.editBtn i {
    margin: 0;
    padding: 10px;
}
.edit {
    
    justify-content: center;
    margin: 0 auto 30px;
    display: flex;

}

.editProfile {
    background-color: rgb(219, 218, 216);
    font-family: inherit;
    font-size: 16px;
    color: black;
    align-items: center;
    margin: 0 auto;
   
    width: 80%;
    height: 35px;
    border: #dbd3cb;
    --bs-btn-border-color: #f0ebe1;
}

.editProfile:hover {
    background-color: #9e9690;
    --bs-btn-active-bg: #9e9690;
    --bs-btn-active-border-color: #9e9690;
    color: black;
    font-weight: 600;
}

.seePost {
    background-color: brown;
    height: 2000px;
}