* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.header__info a {
  display: contents;
  font-family: revert;
    color: black;
}
.header__left img {
  height: 40px;
}
.header__left a {
  display: contents;
  color: #000
}
.header__left{
  background-color: #ffffff;

  padding: 0 10px;
}
.header__left:hover{
  background-color: #ffffff;
}
.header a {
    color: #000;
    text-decoration: none;
}
.Logofpt{
  font-size: 19px;

    font-family: "Inter";
    margin-bottom: 0;
    margin-left: 5px;
}
li {
  display: block;
}
:host .ionicon {
  margin-top: 2px;
  stroke: currentcolor;
}
nav {
  position: sticky;
  top:  47px;;
  width: 20vw;
  height: 100vh;
  background: #f1f2f5;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: ease-in-out 0.5s;
}

nav.hide {
  width: 0;
}

nav ul {
  top: 0;
  padding-left: 0;
  position: absolute;
  width: 100%;
  list-style: none;
  overflow: hidden;

}

nav ul li a {
  width: 100%;
  color: #cf9595;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
}

nav ul li a ion-icon {
  margin: 0 20px;
  color: #b59c80;
  font-size: 1.2em;
  transition: linear 0.2s;

}

.Exchangeclass:hover{
  background-color: #2e81f4;
}
.Tradeitems:hover{
  background-color: #1a9a2f;
}
.StoryBlog:hover{
  background-color: #8d31f0;
}
.Findlover:hover{
  background-color: #fbace9;
}
nav ul li a:hover {
  background: #ffaa00;
  color: white;

}

nav ul li a:hover ion-icon {
  color: white;
}
h5 {
  font-weight: 700;
  font-size: smaller;
  font-family: "Inter";
  margin-left: 10px;
  margin-bottom: 0;
}
.listBtn{
  display: block;
}
.avatar1 {
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  height: 30px;
}

:host .ionicon {
  margin-top: 2px;
  stroke: currentcolor;
}
/* nav .sizebarRow ion-icon {
    color:#2e81f4;
    font-size: 1.5em;
    transition: linear 0.2s; */
/* } */
nav .sidebarRow:hover {
  color: white;
}

/* nav .toggle_menu:hover ion-icon {
    color: white;
  
  } */
.user__avatar {
  overflow: hidden;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 35px;
}
.user__avatar1 {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
}

img.user__avatar.post__avatar,
.post__topInfo h3 {
  cursor: pointer;
}
.nameTopiclove{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fbace9;
  color: #eff2f5;
  margin-top: -80px;
  text-align: center;
    padding: 11px;
    margin-right: 50px;
    right: 0;
   position: absolute;
}
.nameTopicBlog{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  background-color: #8d31f0;
  color: #eff2f5;
  margin-top: -80px;
  text-align: center;
    padding: 11px;
    margin-right: 50px;
    right: 0;
   position: absolute;
}
.nameTopicbook{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  background-color: #2e81f4;
  color: #eff2f5;
  margin-top: -80px;
  text-align: center;
  margin-left: 111px;
  
    padding: 11px;
    margin-right: 50px;
    right: 0;
    position: absolute;
}
.nameTopic{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  color: #eff2f5;
  margin-top: -80px;
  text-align: center;
  background-color: green;
    padding: 11px;
    margin-right: 50px;
    right: 0;
   position: absolute;
}
.post a {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__body {
  position: relative;
  background-color: blanchedalmond;
  background: url(../img/d44893a9a031394c0b9c7a35caba39b2.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  backdrop-filter: brightness(0.5);
}

.main__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Điều chỉnh màu và độ trong suốt theo nhu cầu */
  backdrop-filter: brightness(0.5) blur(5px);
  z-index: -1;
}

.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__left ion-icon{
  font-size: 10px;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #80a5c9;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option ion-icon {

  font-size: 25px;
  color: rgb(0, 0, 0);
}

.header__option:hover .material-icons {
  color: #fb7d2e;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__option.active .material-icons {
  color: #2e81f4;
}

.header__option.active {
  margin-right: 20px;
}
.header__option1.active {
  margin-right: 20px;
}
.header__option1 ion-icon {

  font-size: 25px;
  color: rgb(0, 0, 0);
}
.header__option:hover {
  background-color: #bfdfff;
  border-radius: 10px;
  align-items: center;

  border-bottom: none;
}
.header__option1:hover {
  padding-bottom: 4px;
  background-color: #bfdfff;
  border-radius: 10px;
  align-items: center;
  padding: auto;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info h4 {
  margin-left: 10px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .material-icons {
  color: gray;
  margin: 0 10px;
}

.header__right .material-icons:hover {
  cursor: pointer;
}
.header__right:hover{
  background-color: #bfdfff;
}
.header__right{
  background-color: #fff;

  padding: 0 10px;
}
/* sidebar  */

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
}



.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow .material-icons {
  font-size: xx-large;
  color: #2e81f4;
}


.main__body {
  display: flex;
}

body {
  background-color: #f1f2f5;
}

.feed {
  margin: 0 auto;
  flex: 0.5;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .sidebar {
    padding: 25px 10px;
    flex: 0.5;
  } */

/* message sender */

.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.messageSender__top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.messageSender__top form {
  flex: 1;
  display: flex;
}

.messageSender__top form input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 8px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.messageSender__option h3 {
  font-size: medium;
  margin-left: 10px;
}

.messageSender__option:hover {
  cursor: pointer;
  background-color: #eff2f5;
  border-radius: 20px;
}

/* post */
.postBackground {
  display: contents;
  justify-content: center;
  align-items: center;
}

.post {
  margin-bottom: 20px;
  width: 95%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  animation: signin-container ease 1.5s;
}

.post__image {
  display: flex;
  justify-content: center;
}

.post__image img {
  width: 90%;

}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px 15px 0 15px;
}
.post__top p{
  font-size: smaller;
}
.post__avatar {
  margin-right: 10px;
  margin-bottom: 17px;
}

.post__topInfo h3 {
  font-size: 20px;
}

.post__topInfo p {
  font-size: small;
  color: gray;
}

.post__bottom {
  padding: 0px 25px;
}

.post__options {

  border-top: 1px solid lightgray;
  display: flex;
  font-size: medium;
  color: rgb(0, 0, 0);

}
p.post__options{
  margin-bottom: 1px;
}
.heart {
  display: ruby;
  padding: 8px 8px 0 8px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;

  flex: 1;
}
.commentBtn{
  margin-right: 35px;
  display: flex;
padding: 8px 8px 0 8px ;
  font-size: 25px;
  border: none;
  background-color: rgb(215, 208, 208);
}
.chatIcon{
padding-top: 3px;
}
p.numberChat {
  padding-left: 4px ;
  font-size: 17px;
}
.commentContainer{
  display: none;
  padding: 8px;
  border-top: 1px solid #685858;
  background-color: #c6c8ca
}
.commentImg{
  box-shadow: none;
  height: 30px;
  width: 30px;
}
.commentInput{
  width: 100%;
  
}
.commentBox{
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 10px;
}
p.commentname {
  padding-left: 5px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.seeComment{
  display: flex;
  margin-left: 36px;
}
p.commentp {
  margin-bottom: 5px;
}
.commet__options{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
}
p.numberHeartComment {
  margin-bottom: 0;
}
.edit-deleteComment-btn{
  position: relative;
  margin: 0 0 0 auto;
  }
  .editCommentBtn{
    margin-top: 10px;
      border: none;
      background-color: #fff;
      font-family: inherit;
      font-size: 1em;
      color: rgb(0, 0, 0);
      align-items: center;  
      margin: 0 0 0 auto;
      height: 35px;
      border: #dbd3cb;
      --bs-btn-border-color: #f0ebe1;
  }
  .editCommentBtn:hover{
    background-color: #5f6164;
    --bs-btn-active-bg: #484b51;
      --bs-btn-active-border-color: #484b51;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
  }
  .editPostbtn1:hover{
    color: rgb(234, 232, 232);
    background-color: rgb(139, 133, 133);
  }
  .deletePostBtn:hover{
    color: rgb(243, 243, 243);
    background-color: red;
  }
  /* Styles for the Dropdown Links */
  /* Styles for the Dropdown Links */
  .dropdown-content a {
    display: inline-block; /* Thay đổi từ block thành inline-block */
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  .send-Btn{
    position: relative;
    margin: 0 0 0 auto;
  }
  .sendbtn {
    margin-top: 10px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 1em;
    color: rgb(0, 0, 0);
    align-items: center;
    margin: 0 0 0 auto;
    height: 35px;
    border: #dbd3cb;
    --bs-btn-border-color: #f0ebe1;
}
svg.red {
  color: red;

}

.heartBtn {
  background-color: transparent;
  /* Nền trong suốt */
  border: none;
  /* Không có đường viền */
  padding: 0;
  /* Không có lề */
  cursor: pointer;
  /* Con trỏ chuột hiệu ứng */
}


.post__option {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.post__option a {
  color: grey;
  text-decoration: none;
}

.post__option p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}
@keyframes signin-container {
  from {
      opacity: 0;
      transform: translateY(140px);
  }
  to {
      opacity: 100;
      transform: translateY(0px);
  }
  
}

@media only screen and (max-width: 739px) {
  .feed{
    flex: 1.5;
   padding: 0px;
  }
  .Logofpt {
    display: none;
  }
  .sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }
    .header__option {
      display: flex;
      align-items: center;
      padding: 0 0px;
    }
      .header {
        padding: 5px ;
     }
     .header__option.active {
      margin-right: 16px
    }
      nav ul li a {
        padding: 15px 5px;
  }
  nav ul li a ion-icon {
    display: none;
}
nav {
  position: sticky;
  top: 59px;
  width: 34vw;
}
.nameTopic{
  margin-right: 0;
  margin-left: 150px;
}
.nameTopicbook {
  margin-right: 0;
  margin-left: 150px;
}
.nameTopicBlog {
  margin-right: 0;
  margin-left: 150px;
}
.nameTopiclove {
  margin-right: 0;
  margin-left: 150px;
}
}
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  nav {
    position: sticky;
    top: 59px;
    width: 30vw;
}
.feed {
  margin: 0 auto;
   flex:1.5;
}
}